# Dependências (Node Modules)
node_modules/
jspm_packages/

# Variáveis de Ambiente (Segurança)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build e Saída
dist/
build/
out/
.next/

# Logs e Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Configurações de IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Diversos
.DS_Store
Thumbs.db